{
    "presets": [
	    "es2015",
	    "stage-1",
	    "react"
    ],
    "plugins": [
    	 ['import', [{ libraryName: "antd", style: true }]],
       ["transform-imports",{
        "@xinguang/common-tool":{
          "transform":"@xinguang/common-tool/lib/${member}",
          "preventFullImport":true
        }
      }]
    ]
 }